#one{
    color:royalblue ;
}

h2{
    color:red;
}

.two{
    color: royalblue;
}

#three{
    color: brown ;
}
#four{
    color: cyan ;
}

.seven{
    color: green;
}

.eight{
    color: yellowgreen;
}

#five{
    color: red;
}

.nine{
    color: purple;
}